<div class="volunteers index">
	<h2><?php echo __('Volunteers'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('VOLUNTEER_ID'); ?></th>
			<th><?php echo $this->Paginator->sort('VOLUNTEER_fName'); ?></th>
			<th><?php echo $this->Paginator->sort('VOLUNTEER_lName'); ?></th>
			<th><?php echo $this->Paginator->sort('VOLUNTEER_Email'); ?></th>
			<th><?php echo $this->Paginator->sort('VOLUNTEER_ContactNo'); ?></th>
			<th><?php echo $this->Paginator->sort('LIBRARY_ID'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($volunteers as $volunteer): ?>
	<tr>
		<td><?php echo h($volunteer['Volunteer']['VOLUNTEER_ID']); ?>&nbsp;</td>
		<td><?php echo h($volunteer['Volunteer']['VOLUNTEER_fName']); ?>&nbsp;</td>
		<td><?php echo h($volunteer['Volunteer']['VOLUNTEER_lName']); ?>&nbsp;</td>
		<td><?php echo h($volunteer['Volunteer']['VOLUNTEER_Email']); ?>&nbsp;</td>
		<td><?php echo h($volunteer['Volunteer']['VOLUNTEER_ContactNo']); ?>&nbsp;</td>
		<td><?php echo h($volunteer['Volunteer']['LIBRARY_ID']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $volunteer['Volunteer']['VOLUNTEER_ID'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $volunteer['Volunteer']['VOLUNTEER_ID'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $volunteer['Volunteer']['VOLUNTEER_ID']), array('confirm' => __('Are you sure you want to delete # %s?', $volunteer['Volunteer']['VOLUNTEER_ID']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Volunteer'), array('action' => 'add')); ?></li>
	</ul>
</div>
