<div class="libraries index">
	<h2><?php echo __('Libraries'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('LIBRARY_ID'); ?></th>
			<th><?php echo $this->Paginator->sort('LIBRARY_Name'); ?></th>
			<th><?php echo $this->Paginator->sort('LIBRARY_Address'); ?></th>
			<th><?php echo $this->Paginator->sort('LIBRARY_City'); ?></th>
			<th><?php echo $this->Paginator->sort('LIBRARY_State'); ?></th>
			<th><?php echo $this->Paginator->sort('LIBRARY_Zip'); ?></th>
			<th><?php echo $this->Paginator->sort('LIBRARY_Work_Phone'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($libraries as $library): ?>
	<tr>
		<td><?php echo h($library['Library']['LIBRARY_ID']); ?>&nbsp;</td>
		<td><?php echo h($library['Library']['LIBRARY_Name']); ?>&nbsp;</td>
		<td><?php echo h($library['Library']['LIBRARY_Address']); ?>&nbsp;</td>
		<td><?php echo h($library['Library']['LIBRARY_City']); ?>&nbsp;</td>
		<td><?php echo h($library['Library']['LIBRARY_State']); ?>&nbsp;</td>
		<td><?php echo h($library['Library']['LIBRARY_Zip']); ?>&nbsp;</td>
		<td><?php echo h($library['Library']['LIBRARY_Work_Phone']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $library['Library']['LIBRARY_ID'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $library['Library']['LIBRARY_ID'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $library['Library']['LIBRARY_ID']), array('confirm' => __('Are you sure you want to delete # %s?', $library['Library']['LIBRARY_ID']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Library'), array('action' => 'add')); ?></li>
	</ul>
</div>
