<!DOCTYPE html>
<html>
<body>
<form name="form1" id="form_portfolio" size="35" >
    
    <br><br>
    
	
	
	
	<label for="username">Username:</label>
	     <input type="text" size="20" id="Name" name="Name" size="35" maxlength="5" style="3px"/>
	     <br/>
	     <label for="Email">Email:</label>
	     <input type="Email" size="20" id="Email" name="Email" size="35"/>
	     <br/>
		 <label for="Subject">Subject:</label>
	     <input type="Subject" size="20" id="Subject" name="Subject" size="35"/>
	     <input type="submit" value="Submit"/>
		 
		 
		
	
</form>
<br><br>
<h1 style="text-align:LEFT;"> <b>Contact </b>:</h1>
<h1>929 S 70th Plaza</h1>
<h1>Crosswinds</h1>
<h1>Phone:</h1>
<h1>Email:</h1>
<h1>Omaha, NE-68106</h1>
</html>
<body>