
<!DOCTYPE html>
<html>
<body>

<h1 style="text-align:center;"><img style="-webkit-user-select: none" src="http://static.contentres.com/media/images/0a551213-a972-4fe3-89cf-82174c219edf.jpg">
</h1>
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <title>My First HTML</title>
    <meta charset9="UTF-8">
    <script type="text/javascript">
        function click_me(){
            var selected;
            var yourSelect = document.getElementById( "select-id" );
            var sel = yourSelect.options[ yourSelect.selectedIndex ].value;
            document.getElementsByTagName('option');

            if(sel=="Update Stock Portfolio")
            {
                window.open("http://localhost/efs/stocks");
            }
            else if(sel=="Update non stock investments")
            {
                window.open("http://localhost/efs/investments");
            }
            else if(sel=="Select a customer and review profile")
            {
                window.open("http://localhost/efs/customers");
            }
        }
    </script>
</head>
<body>

<h1 style="text-align:center;"> <b>WELCOME TO EAGLE FINANCIAL SOLUTIONS</b>.</h1>

<h1 style="text-align:center;"><i>Your financial security is our concern!!</i></h1>

    <h1 style="text-align:center;"> <b>FINANCIAL ADVISORY PLANNING PORTFOLIO PLANNER </b>.</h1>

    <h1 style="text-align:LEFT;"> <b>SELECT PORTFOLIO PLANNING OPTIONS </b>:</h1>



<form name="form1" id="form_portfolio">
    <select name="Portfolio" id="select-id">
    <option value="Select a customer and review profile" name="s1" id="1">Select a customer and review profile</option>
    <option value="Update Stock Portfolio" id="2">Update Stock Portfolio</option>
    <option value="Update non stock investments" id="3">Update non stock investments</option>
    </select>
    <br><br>
    <input type="submit" onclick="click_me()">
</form>
</body>
</html>