<!DOCTYPE HTML>
<html>
<head>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
</head>
<div id="header">
<header class = "mainheader">
<center><IMG SRC="img/library_logo.jpg" ALT="some text" ></center>

    <meta charset = "UTF-8">
    <meta name ="viewport" content = "width = device - width, initial - scale = 1.0">
                <nav>
                     <ul>
                        <li><a href = 'index.html'>HOME</a></li>
                        <li><a href = 'aboutus.html'>ABOUT US</a></li>
                        <li><a href = 'contactus.html'>CONTACT US</a></li>
						<li><a href = '#'> LOGIN AS </a>
						<ul class = "submenu" >
                                  <li><a href="librarianlogin.html"> Librarian </a></li>
                                  <li><a href="volunteerlogin.html"> Volunteer </a></li>
                                  <li><a href="adminlogin.html">System Admin</a></li>
                        </ul>
                        </li>
                     </ul></li>
                     </ul>
                </nav>
                </header>
         </div>

    <div id="mainContent">
    <div class = "mainContent">
	       <body background="http://www.hercampus.com/sites/default/files/2015/11/04/library_pataskala_026_1.jpg">
            <div class = "content">
            <article class = "topcontent"
                <header>
                <h2 align="center"> OUR VISION </h2>
<h3 align="center">Equal and Inclusive Access</h3>
<p align="center">We are free and open to all. We provide programs, services and resources that represent diverse viewpoints, and ensure equitable access to everyone.
We recognize our staff as our greatest resource. We are passionate about our work, we have fun, and we work together as a team. We trust each other and respect diverse ideas.
Omaha is a vital and vibrant city, with Omaha Public Library as an essential catalyst, collaborator and connector.
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>






				<content>
            </article>


         </div>
     </div>



        <aside class = "bottom-sidebar">
        <h2><a href="testimonials.html"><u>Our Testimonials</u></a></h2><br>
                        <h2>Why Omaha Friends Library?</h2>
                                <p>
                                  <IMG SRC="img/why-us.png" ALT="some text" height="260" width="260">
                                </p>
        </aside>
    </div>


   <div id="footer"></div>
    		<footer class = "mainFooter">
                   <p ><b>Copyright &copy; FRIENDS OF OMAHA LIBRARY. ALL RIGHTS RESERVED</b </p>
            </footer>
   </div>
   
   



