
<!DOCTYPE html>
<html>
<body style="background-color:lightgrey;">
<header class = "mainheader">
<center><IMG SRC="img/library_logo.jpg" ALT="some text" ></center>

    <meta charset = "UTF-8">
    <meta name ="viewport" content = "width = device - width, initial - scale = 1.0">
                <nav>
                     <ul>
                        <li><a href = '/lib'>HOME</a></li>
                        <li><a href = '/lib/aboutus.html'>ABOUT US</a></li>
                        <li><a href = '/lib/contactus'>CONTACT US</a></li>
                            </ul>
                        </li>
                     </ul></li>
                     </ul>
                </nav>
                </header>
         </div>

    <div id="mainContent">

    <div class = "mainContent">
	       <body background="http://www.hercampus.com/sites/default/files/2015/11/04/library_pataskala_026_1.jpg">
            <div class = "content">
            <article class = "topcontent"
           <aside class = "bottom-sidebar">
        <h2><a href="url"><u>Our Testimonials</u></a></h2><br>
                        <h2>Why Omaha Friends Library?</h2>
                                <p>
                                  <IMG SRC="img/why-us.png" ALT="some text" height="260" width="260">
                                </p>
        </aside>
    </div>


   <div id="footer"></div>
    		<footer class = "mainFooter">
                   <p ><b>Copyright &copy; FRIENDS OF OMAHA LIBRARY. ALL RIGHTS RESERVED</b </p>
            </footer>
   </div>


<script type="text/javascript">
var attempt = 30; // Variable to count number of attempts.
 // Below function Executes on click of login button.
 function validate(){
 var username = document.getElementById("username").value;
 var password = document.getElementById("password").value;
 if ( username == "gopinath" && password == "test123"){
 alert ("Login successful");
 window.location = "http://localhost:8888/eagle"; // Redirecting to other page, just a test.
 return false;
 }
 else{
 attempt --;// Decrementing by one.
 alert("Invalid Login You are left with "+attempt+" more attempts;");
 // Disabling fields after 30 attempts.
 if( attempt == 0){
 document.getElementById("username").disabled = true;
 document.getElementById("password").disabled = true;
 document.getElementById("submit").disabled = true;
 return false;
 }
 }
 }
 </script>

</head>
<body>
<div class="container">
<div class="main">
<h2>Login Form Validation</h2>
<h3 style="text-align:Left; font-size:100%"><i>"user: gopinath Password:test123 is being validated in this script. Kindly use the same"</i></h3>
<form id="form_id" method="post" name="myform">
<label>User Name :</label>
<input type="text" name="username" id="username"/>
<label>Password :</label>
<input type="password" name="password" id="password"/>
<input type="button" value="Login" id="submit" onclick="validate()"/>
</form>
</div>
</div>
</body>
</html>
