<div id="header">

<header class = "mainheader">
<center><IMG SRC="img/library_logo.jpg" ALT="some text" ></center>

    <meta charset = "UTF-8">
    <meta name ="viewport" content = "width = device - width, initial - scale = 1.0">
                <nav>
                     <ul>
                        <li><a href = '/lib'>HOME</a></li>
                        <li><a href = '/lib/aboutus.html'>ABOUT US</a></li>
                        <li><a href = '/lib/contactus'>CONTACT US</a></li>
                            </ul>
                        </li>
                     </ul></li>
                     </ul>
                </nav>
                </header>
         </div>

    <div id="mainContent">

    <div class = "mainContent">
	       <body background="http://www.hercampus.com/sites/default/files/2015/11/04/library_pataskala_026_1.jpg">
            <div class = "content">
            <article class = "topcontent"
                <header>
                <h2> LOGIN </h2>
                        <form method = 'post' onsubmit = 'validate()'>
                          <label for="username">Username:</label>
                        	     <input type="text" size="20" id="username" name="username"/>
                        	     <br/>
                        	     <label for="password">Password:</label>
                        	     <input type="password" size="20" id="password" name="password"/>
                        	     <br/>
                        	     <input type="submit" value="Submit" onclick="validate()"/>
                                 <br><br>
                                 <font size="5px"> <a href="url"><b><u>New User ?<b></u></a></font>
                        	   </form>
                    <content>
            </article>


         </div>
     </div>



        <aside class = "bottom-sidebar">
        <h2><a href="url"><u>Our Testimonials</u></a></h2><br>
                        <h2>Why Omaha Friends Library?</h2>
                                <p>
                                  <IMG SRC="img/why-us.png" ALT="some text" height="260" width="260">
                                </p>
        </aside>
    </div>


   <div id="footer"></div>
    		<footer class = "mainFooter">
                   <p ><b>Copyright &copy; FRIENDS OF OMAHA LIBRARY. ALL RIGHTS RESERVED</b </p>
            </footer>
   </div>
   
   <script>
		function validate()
		{
			val usr = document.getElementById("username").value;
			val pwd = document.getElementById("password").value;
			if (usr == "username" && pwd == "password")
			{
				alert("Login Successful");
			}
			else
			{
				alert("Login un successful");
			}
			
		}
	</script>




