<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <script>
        function validateForm()
        {
            var x=document.forms["login"]["usermail"].value;
            var y=document.forms["login"]["password"].value;
            if (x==null || x=="")
            {
                alert("Please fill out the username");
                return false;
            }
			else if(x!="msd@unomaha.edu" || y!="omaha")
			{
				alert("Enter valid credentials");
               
			}
			else if(x=="msd@unomaha.edu" && y=="omaha")
            {
                alert("Login succefull");
				window.open("D:\Installed Softs\wamp\www\efs\app\View\Pages\home_eagle.html");
                return true;
            }
			else{
				alert("Enter valid credentials");
				return false;
			}
				
        }
    </script>
</head>
<body>
<section class="loginform cf">
    <script>

    </script>
    <form name="login" method="get" accept-charset="utf-8">
        <ul>
            <li><label for="usermail">Email</label>
                <input type="email" name="usermail" placeholder="yourname@email.com" required></li>
            <li><label for="password">Password</label>
                <input type="password" name="password" placeholder="password" required></li>
            <li>
                <input type="submit" value="Login" onclick="validateForm()" ></li>
        </ul>
    </form>
</section>
</body>
</html>