<div class="appeals index">
	<h2><?php echo __('Appeals'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('APPEAL_ID'); ?></th>
			<th><?php echo $this->Paginator->sort('APPEAL_Description'); ?></th>
			<th><?php echo $this->Paginator->sort('APPEAL_Start_Time_Date'); ?></th>
			<th><?php echo $this->Paginator->sort('APPEAL_End_Time_Date'); ?></th>
			<th><?php echo $this->Paginator->sort('APPEAL_Type'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($appeals as $appeal): ?>
	<tr>
		<td><?php echo h($appeal['Appeal']['APPEAL_ID']); ?>&nbsp;</td>
		<td><?php echo h($appeal['Appeal']['APPEAL_Description']); ?>&nbsp;</td>
		<td><?php echo h($appeal['Appeal']['APPEAL_Start_Time_Date']); ?>&nbsp;</td>
		<td><?php echo h($appeal['Appeal']['APPEAL_End_Time_Date']); ?>&nbsp;</td>
		<td><?php echo h($appeal['Appeal']['APPEAL_Type']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $appeal['Appeal']['APPEAL_ID'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $appeal['Appeal']['APPEAL_ID'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $appeal['Appeal']['APPEAL_ID']), array('confirm' => __('Are you sure you want to delete # %s?', $appeal['Appeal']['APPEAL_ID']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Appeal'), array('action' => 'add')); ?></li>
	</ul>
</div>
